<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <link rel="stylesheet"  th:href="@{/assets/css/font-awesome.min.css}">

    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet"  th:href="@{/assets/css/AdminLTE.css}">

    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script nonce="55de6557-4160-4f3d-8edf-84462b35dca1">(function (w, d) {
        !function (dp, dq, dr, ds) {
            dp[dr] = dp[dr] || {};
            dp[dr].executed = [];
            dp.zaraz = {deferred: [], listeners: []};
            dp.zaraz.q = [];
            dp.zaraz._f = function (dt) {
                return async function () {
                    var du = Array.prototype.slice.call(arguments);
                    dp.zaraz.q.push({m: dt, a: du})
                }
            };
            for (const dv of ["track", "set", "debug"]) dp.zaraz[dv] = dp.zaraz._f(dv);
            dp.zaraz.init = () => {
                var dw = dq.getElementsByTagName(ds)[0], dx = dq.createElement(ds),
                    dy = dq.getElementsByTagName("title")[0];
                dy && (dp[dr].t = dq.getElementsByTagName("title")[0].text);
                dp[dr].x = Math.random();
                dp[dr].w = dp.screen.width;
                dp[dr].h = dp.screen.height;
                dp[dr].j = dp.innerHeight;
                dp[dr].e = dp.innerWidth;
                dp[dr].l = dp.location.href;
                dp[dr].r = dq.referrer;
                dp[dr].k = dp.screen.colorDepth;
                dp[dr].n = dq.characterSet;
                dp[dr].o = (new Date).getTimezoneOffset();
                if (dp.dataLayer) for (const dC of Object.entries(Object.entries(dataLayer).reduce(((dD, dE) => ({...dD[1], ...dE[1]})), {}))) zaraz.set(dC[0], dC[1], {scope: "page"});
                dp[dr].q = [];
                for (; dp.zaraz.q.length;) {
                    const dF = dp.zaraz.q.shift();
                    dp[dr].q.push(dF)
                }
                dx.defer = !0;
                for (const dG of [localStorage, sessionStorage]) Object.keys(dG || {}).filter((dI => dI.startsWith("_zaraz_"))).forEach((dH => {
                    try {
                        dp[dr]["z_" + dH.slice(7)] = JSON.parse(dG.getItem(dH))
                    } catch {
                        dp[dr]["z_" + dH.slice(7)] = dG.getItem(dH)
                    }
                }));
                dx.referrerPolicy = "origin";
                dx.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(dp[dr])));
                dw.parentNode.insertBefore(dx, dw)
            };
            ["complete", "interactive"].includes(dq.readyState) ? zaraz.init() : dp.addEventListener("DOMContentLoaded", zaraz.init)
        }(w, d, "zarazData", "script");
    })(window, document);</script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a th:href="@{/assets/css/AdminLTE.css}"><b>Admin</b>LTE</a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form th:action="@{/logon}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" name="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>

            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in
                using
                Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in
                using
                Google+</a>
        </div>

        <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>
    </div>

</div>


<script src="../../bower_components/jquery/dist/jquery.min.js"></script>

<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
</body>
</html>
