<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/fragments/header :: header"></header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <form>
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                    <input type="text" name="keyword" class="form-control pull-right" placeholder="Search"
                           th:value="${keyword}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h1 class="box-title">Danh sách loại sản phẩm</h1>
                    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

                    <div>
                        <a href="/admin/add-product" class="btn btn-success">Thêm mới Sản phẩm</a>
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">ID</th>

                            <th>ProductName</th>
                            <th>Price</th>
                            <th>Cate</th>
                            <th>Tags</th>

                            <th>img1</th>
                            <th>img2</th>
                            <th>Description</th>
                            <th>Action</th>

                        </tr>

                        <tr th:each="product : ${list}">
                            <td th:text="${product.id}">No.x</td>
                            <td th:text="${product.productName}"><span class="badge bg-red"></span></td>
                            <td th:text="${product.price}"><span class="badge bg-red"></span></td>
                            <td th:text="${product.cate.cateName}"><span class="badge bg-red"></span></td>
                            <td>
                                <div th:each="prodTag : ${product.prodTags}">
                                    <div th:each="tag:${listTag}" th:if="${prodTag.tag.getId() == tag.getId()}">
                                        <span class="badge bg-red" th:text="${tag.tagName}"></span>
                                    </div>

                                </div>

                            </td>


                            <td>
                                <img th:if="${(product.images.size() >= 1)}" width="60px" height="60px"
                                     th:src="@{'data:image/jpeg;base64,'+${product.images.get(0).generateBase64Image()}}"
                                     alt="Product" class="rounded-circle">

                            </td>
                            <td>
                                <img th:if="${(product.images.size() == 2)}" width="60px" height="60px"
                                     th:src="@{'data:image/jpeg;base64,'+${product.images.get(1).generateBase64Image()}}"
                                     alt="Product" class="rounded-circle">

                            </td>
                            <td th:text="${product.description}"><span class="badge bg-aqua-active"></span></td>
                            <td>
                                <a th:href="@{/admin/edit-product/{id}(id=${product.id})}"
                                   class="btn btn-success">Edit</a>
                                <a th:href="@{/admin/delete-product/{id}(id=${product.id})}"
                                   onclick="return confirm('bạn chắc xóa ko')" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>

                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a th:if="${currentPage > 1}" th:href="@{${keyword != null && keyword != '' ? '?keyword='+keyword +'&' : '?'}
                        + 'pageNo=' + ${currentPage -1 } }">«</a></li>

                        <li th:each="i:${#numbers.sequence(1,totalPage)}">
                            <a
                                    th:href="@{${keyword != null && keyword != '' ? '?keyword='+keyword +'&' : '?'}
                                + 'pageNo=' + ${i} } "
                                    th:classappend="${currentPage == 1 ? 'active' : ''}"
                                    th:text="${i}"></a></li>

                        <li><a th:if="${currentPage < totalPage}" th:href="@{${keyword != null && keyword != '' ? '?keyword='+keyword +'&' : '?'}
                        + 'pageNo=' + ${currentPage +1 } }"> » </a></li>
                    </ul>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="admin/fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
